<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sun.moviemgr.dao.MemberMapper">
	<select id="findAll" resultType="member">
		select * from member order by member_id
	</select>
	<select id="findById" parameterType="string" resultType="member">
			select * from member where member_id=${value}
	</select>
	<insert id="addMember" parameterType="member">
		insert into member values(SEQ_MEMBER.nextval,#{member_Email},#{member_Pwd},#{member_Name},#{member_Phone},#{member_Money},#{member_Gender},#{member_Photo})
	</insert>
	<update id="updateMember" parameterType="member">
		update member set member_Email=#{member_Email},member_Pwd=#{member_Pwd},member_Name=#{member_Name},member_Phone=#{member_Phone},member_Money=#{member_Money},member_Gender=#{member_Gender},member_Photo=#{member_Photo} where member_id=#{member_Id}
	</update>
	<delete id="deleteMember" parameterType="string">
		delete from member where member_id=${value}
	</delete>
	
	
</mapper>
